<h1>About Us</h1>

<div>
<header>
<h2>
Welcome to the Jungle!
</h2>
</header>
<main>
<p>
A store like no other! Behold, products that bend space and time and ultimately
challenge the laws of both physics and consumer sensibilities. From an electric chair
to a bed that narrowly conforms to a sleeping position that nobody stays in for more than
a few minutes a time. Jungle is to consumer goods what Willy Wonka was to confectionaries.
</p>
</div>


